#div-formulario-log {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
}
    
#div-formulario-registro {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
}

#entidades-central {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
}

#entidades-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
}

#delitos-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
}



#perroCtn{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#entidades-div{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 20px;
}

#div-formulario-denuncia{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 20px;
}


#perroCtn div button{
    width: 50%;
}

#btn_nuevo_usuario{

    width: 150px;
}

#btn_ingresar{

    width: 150px;
}

#btn_registrar{

    width: 150px;
}


#btn_volver_inicio{

    width: 150px;
}


#btn_nueva_denuncia{

    width: 150px;
}


#btn_buscar{
    width: 150px;
}

/* Estilo para los botones */
.boton-entidades {
    margin: 20px;
    background-color: #007BFF; /* Cambia el color de fondo del botón */
    color: #fff; /* Cambia el color del texto del botón a blanco */
    border: none; /* Elimina el borde del botón */
    padding: 5px 10px; /* Agrega espacio dentro del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    border: 1px solid #000;;
}


.entidad-tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.delito-tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

