@charset "UTF-8";
body header nav .index-menu-contenedor .index-menu-contenedor-boton div ul {
  transition: 1s; }

body header nav .index-menu-contenedor .index-menu-contenedor-boton div ul li a:hover {
  box-shadow: 20px 20px 60px #bbbbbb;
  transition: 1s; }

main section .index-main-titulo, main .index-main-contenedor .index-contenedor-titulo .index-contenedor-titutlo-h3 {
  color: #000000;
  text-decoration: underline black solid 3px; }

main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre-line;
  /*saltos de linea en el texto*/
  color: black;
  font-size: 0.8em;
  color: black; }
  @media screen and (min-width: 600px) {
    main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
      font-size: 1em; } }
  @media screen and (min-width: 600px) and (min-width: 1000px) {
    main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
      font-size: 1.2em; } }

/*HEADER - NAVEGADOR*/
body header nav {
  background-color: black;
  /*para que se mueva al scrolear*/
  position: sticky;
  top: 0;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px; }
  body header nav .index-menu-contenedor {
    display: flex;
    align-items: center; }
    body header nav .index-menu-contenedor .index-menu-contenedor-img {
      padding: 20px;
      max-width: 130px;
      justify-content: center;
      align-self: flex-start; }
    body header nav .index-menu-contenedor .index-menu-contenedor-boton {
      justify-content: start;
      align-self: center; }
      body header nav .index-menu-contenedor .index-menu-contenedor-boton div ul {
        background-color: #cccccc; }
        body header nav .index-menu-contenedor .index-menu-contenedor-boton div ul li a:hover {
          background-color: #6b6b6b;
          color: whitesmoke; }
  body header nav h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    padding: 20px;
    display: flex;
    align-self: auto;
    display: none; }

@media screen and (min-width: 1300px) {
  body header .index-menu h1 {
    display: block; } }

body header nav .index-menu-contenedor .index-menu-contenedor-boton div ul {
  transition: 1s; }

body header nav .index-menu-contenedor .index-menu-contenedor-boton div ul li a:hover {
  box-shadow: 20px 20px 60px #bbbbbb;
  transition: 1s; }

main section .index-main-titulo, main .index-main-contenedor .index-contenedor-titulo .index-contenedor-titutlo-h3 {
  color: #000000;
  text-decoration: underline black solid 3px; }

main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre-line;
  /*saltos de linea en el texto*/
  color: black;
  font-size: 0.8em;
  color: black; }
  @media screen and (min-width: 600px) {
    main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
      font-size: 1em; } }
  @media screen and (min-width: 600px) and (min-width: 1000px) {
    main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
      font-size: 1.2em; } }

/*-------------------------MAIN----------------------------------------*/
/*---------------------- pagina principal ------------------------------*/
main {
  height: 80vh;
  flex: 1;
  padding: 1px;
  /*estilos al contenedor div contenedor*/ }
  main section .index-main-titulo {
    margin-top: 1rem;
    color: black;
    font-size: 3rem;
    text-align: center; }
  main .index-main-contenedor {
    max-height: 90vh;
    display: grid;
    grid-template-areas: "titulo" "escritura" "boton";
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin: 1%;
    /*estilos al contenedor del titulo de la division*/
    /*estilos al contenedor del parrafo -- simplemente se le determino el area del grid*/
    /*estilos al contenedor del boton -- simplemente se le determino el area del grid*/
    /*estilos al contenedor de la imagen -- simplemente se le determino el area del grid*/ }
    main .index-main-contenedor .index-contenedor-titulo {
      text-align: center;
      grid-area: titulo;
      /*estilos directos al titulo de la division*/ }
      main .index-main-contenedor .index-contenedor-titulo .index-contenedor-titutlo-h3 {
        font-size: 2rem; }
    main .index-main-contenedor .index-contenedor-parrafo {
      grid-area: escritura;
      width: 100%;
      /*estilos al parrafo*/ }
    main .index-main-contenedor .index-contenedor-boton {
      grid-area: boton;
      display: flex;
      justify-content: center;
      align-items: center;
      /*estilos al boton*/ }
      main .index-main-contenedor .index-contenedor-boton button {
        background-color: #dddddd;
        border: 5px solid #000000;
        height: 50px;
        width: 150px;
        margin-top: 1px;
        text-align: center;
        border-radius: 10%;
        transition: 2s; }
        main .index-main-contenedor .index-contenedor-boton button:hover {
          background-color: #6b6b6b;
          border: 5px solid #484848;
          box-shadow: 20px 20px 60px #343434;
          background-color: white;
          transition: 2s;
          border-radius: 100%; }
          main .index-main-contenedor .index-contenedor-boton button:hover a {
            color: #dddddd; }
            main .index-main-contenedor .index-contenedor-boton button:hover a:hover {
              color: #2e2e2e; }
        main .index-main-contenedor .index-contenedor-boton button a {
          color: #000000; }
    main .index-main-contenedor .index-contenedor-imagen {
      grid-area: imagen;
      /*estilos a la imagen*/ }
      main .index-main-contenedor .index-contenedor-imagen .index-contenedor-imagen-img {
        /*por el tamaño de la pantalla celular ocultamos la imagen*/
        display: none; }

/*--------------------------------CIERRE - INDEX -----------------------------------*/
/*---------------------------CONTACTO---------------------------------*/
body main section {
  display: flex;
  justify-content: center;
  align-items: center; }
  body main section .h2-contacto {
    color: #dddddd;
    text-decoration: underline 3px solid #dddddd;
    font-size: 2.5rem; }

body main .contacto-main {
  display: grid;
  grid-template-areas: "titulo" "elementos" "descripcion" "boton";
  justify-content: center;
  align-items: center; }
  body main .contacto-main div .contenedor-titulo-h3c {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #dddddd;
    text-decoration: underline 3px solid #dddddd; }
    @media screen and (min-width: 600px) {
      body main .contacto-main div .contenedor-titulo-h3c {
        font-size: 3rem; } }
  @media screen and (min-width: 600px) and (min-width: 1000px) {
    body main .contacto-main div .contenedor-titulo-h3c {
      font-size: 5rem; } }
  body main .contacto-main .contacto-contenedor-elementos {
    grid-area: elementos; }
    body main .contacto-main .contacto-contenedor-elementos .contacto-contenedor-elementos-formulario {
      display: flex;
      flex-direction: column;
      background-color: gray;
      grid-template-areas: formulario;
      /*estilos sobre el contenedor del boton*/ }
      body main .contacto-main .contacto-contenedor-elementos .contacto-contenedor-elementos-formulario div .contacto-contenedor-elementos-formulario-informacion-linea {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #dddddd; }
        body main .contacto-main .contacto-contenedor-elementos .contacto-contenedor-elementos-formulario div .contacto-contenedor-elementos-formulario-informacion-linea label {
          display: inline-block;
          width: 100px; }
      body main .contacto-main .contacto-contenedor-elementos .contacto-contenedor-elementos-formulario .contacto-contenedor-elementos-formulario-texto {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: descripcion; }
      body main .contacto-main .contacto-contenedor-elementos .contacto-contenedor-elementos-formulario .contacto-contenedor-elementos-formulario-boton {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: boton;
        /*estilos del boton*/ }
        body main .contacto-main .contacto-contenedor-elementos .contacto-contenedor-elementos-formulario .contacto-contenedor-elementos-formulario-boton .contacto-contenedor-elementos-formulario-boton-estilo {
          background-color: #dddddd;
          border: 5px solid #000000;
          height: 50px;
          width: 150px;
          margin: 10px;
          text-align: center;
          border-radius: 10%;
          transition: 2s; }
          body main .contacto-main .contacto-contenedor-elementos .contacto-contenedor-elementos-formulario .contacto-contenedor-elementos-formulario-boton .contacto-contenedor-elementos-formulario-boton-estilo:hover {
            background-color: #6b6b6b;
            border: 5px solid #484848;
            box-shadow: 20px 20px 60px #343434;
            background-color: white;
            transition: 2s;
            border-radius: 100%; }
            body main .contacto-main .contacto-contenedor-elementos .contacto-contenedor-elementos-formulario .contacto-contenedor-elementos-formulario-boton .contacto-contenedor-elementos-formulario-boton-estilo:hover a {
              color: #dddddd; }
              body main .contacto-main .contacto-contenedor-elementos .contacto-contenedor-elementos-formulario .contacto-contenedor-elementos-formulario-boton .contacto-contenedor-elementos-formulario-boton-estilo:hover a:hover {
                color: #2e2e2e; }

/*--------------------------------CIERRE - CONTACTO -----------------------------------*/
@media screen and (min-width: 600px) {
  body main {
    height: 80vh; }
    body main section .index-main-titulo {
      margin-top: 1rem;
      font-size: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      text-decoration: underline black solid 3px; }
    body main .index-main-contenedor {
      display: grid;
      grid-template-areas: "titulo     titulo" "escritura  imagen"             "boton      imagen";
      justify-content: center;
      align-items: center; }
      body main .index-main-contenedor .index-contenedor-titulo {
        text-align: center;
        grid-area: titulo; }
        body main .index-main-contenedor .index-contenedor-titulo .index-contenedor-titutlo-h3 {
          font-size: 3em; }
      body main .index-main-contenedor .index-contenedor-parrafo {
        grid-area: escritura;
        width: 100%; }
      body main .index-main-contenedor .index-contenedor-boton {
        grid-area: boton; }
      body main .index-main-contenedor .index-contenedor-imagen {
        grid-area: imagen;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center; }
        body main .index-main-contenedor .index-contenedor-imagen .index-contenedor-imagen-img {
          display: block;
          max-width: 70%;
          height: auto; }
  body main section .h2-contacto {
    font-size: 4rem; } }

@media screen and (min-width: 1000px) {
  body main section .index-main-titulo {
    display: none; }
  div .index-contenedor-titulo {
    margin-top: 0px;
    grid-area: titulo; }
    div .index-contenedor-titulo .index-contenedor-titutlo-h3 {
      margin-top: 0px;
      font-size: 4em; }
  body main section {
    display: flex;
    justify-content: center;
    align-items: center; }
  .h2-contacto {
    display: none; } }

body header nav .index-menu-contenedor .index-menu-contenedor-boton div ul {
  transition: 1s; }

body header nav .index-menu-contenedor .index-menu-contenedor-boton div ul li a:hover {
  box-shadow: 20px 20px 60px #bbbbbb;
  transition: 1s; }

main section .index-main-titulo, main .index-main-contenedor .index-contenedor-titulo .index-contenedor-titutlo-h3 {
  color: #000000;
  text-decoration: underline black solid 3px; }

main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre-line;
  /*saltos de linea en el texto*/
  color: black;
  font-size: 0.8em;
  color: black; }
  @media screen and (min-width: 600px) {
    main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
      font-size: 1em; } }
  @media screen and (min-width: 600px) and (min-width: 1000px) {
    main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
      font-size: 1.2em; } }

/*-------------- FOOTER ------------------*/
/*FOOTER AL FONDO*/
footer p {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1px;
  color: #868686;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px; }

body header nav .index-menu-contenedor .index-menu-contenedor-boton div ul {
  transition: 1s; }

body header nav .index-menu-contenedor .index-menu-contenedor-boton div ul li a:hover {
  box-shadow: 20px 20px 60px #bbbbbb;
  transition: 1s; }

main section .index-main-titulo, main .index-main-contenedor .index-contenedor-titulo .index-contenedor-titutlo-h3 {
  color: #000000;
  text-decoration: underline black solid 3px; }

main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre-line;
  /*saltos de linea en el texto*/
  color: black;
  font-size: 0.8em;
  color: black; }
  @media screen and (min-width: 600px) {
    main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
      font-size: 1em; } }
  @media screen and (min-width: 600px) and (min-width: 1000px) {
    main .index-main-contenedor .index-contenedor-parrafo .index-contenedor-parrafo-escrito {
      font-size: 1.2em; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }
  html body {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /*para que el contenido ocupe el 100% del alto*/
    min-height: 100vh; }

.body-index {
  background-color: #F7F6FB; }

.body-contacto {
  background-image: url(../scss/assets/contacto.jpg);
  background-size: cover;
  height: 100vh; }
