//extend
@import "../base/variables";


%desplegable{
    transition: 1s;
}

%animacion-boton{
    box-shadow: 20px 20px 60px rgb(187, 187, 187);     
    transition: 1s; 
}


%titulos{
    color: $color-principal-secundario;
    text-decoration: underline solid black 2px;  
    
        @media screen and (min-width: 600px) {            
                text-decoration: underline solid black 4px;     
                
                @media screen and (min-width: 1000px) {                    
                        text-decoration: underline solid black 5px;   
                                     
                }
        }    
}




%estilos{
    text-align: justify;
    font-family: $parrafo-principal;      
    white-space: pre-line; /*saltos de linea en el texto*/
    font-size: 0.8em;
    color: $color-parrafo-primaria;

        @media screen and (min-width: 600px) {
                font-size: 1em;                

                @media screen and (min-width: 1000px) {
                    font-size: 1.2em;
                    
                }
        }    
}






%imagen{
    box-shadow: 20px 20px 60px rgb(52, 52, 52);     
    
    
    @media screen and (min-width: 600px) {
        box-shadow: 20px 20px 60px rgb(52, 52, 52);     
                   

        @media screen and (min-width: 1000px) {
            box-shadow: 20px 20px 60px rgb(52, 52, 52);     
            
            
        }
    }    
}
