// imports

@import "../base/extend";
@import "../base/mixin";
@import "../base/variables";


/*-------------- FOOTER ------------------*/

/*FOOTER AL FONDO*/

footer p{    
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1px;   
    color: $color-footer-primario; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}


