// imports

@import "../base/extend";
@import "../base/mixin";
@import "../base/variables";


/*-------------------------MAIN----------------------------------------*/


/*---------------------- pagina principal ------------------------------*/

main{
    
    //para que ocupe el 80% de lo disponible
    height: 80vh;
    //hace que el contenido principal ocupe todo el espacio disponible en el eje vertical
    flex: 1;
    //distancia entre los elementos
    padding: 1px;
    

        //estilos del titulo secundario
        section .index-main-titulo{
            @include titulo-secundario;
            @extend %titulos;      
                   
        }
    /*estilos al contenedor div contenedor*/
        .index-main-contenedor{
            max-height: 90vh;    
            display: grid;
            grid-template-areas: 
            "titulo"
            "escritura"
            "boton";
            justify-content: center;
            align-items: center;            
            gap: 1%;
            margin: 1%;

                /*estilos al contenedor del titulo de la division*/
                .index-contenedor-titulo{
                    text-align: center;
                    grid-area: titulo;                    

                        /*estilos directos al titulo de la division*/
                        .index-contenedor-titutlo-h3{                                                            
                            @include titulo-h3;
                            @extend %titulos;      
                        }
                }

                /*estilos al contenedor del parrafo -- simplemente se le determino el area del grid*/
                .index-contenedor-parrafo{
                    grid-area: escritura; 
                    width: 100%;
                
                        /*estilos al parrafo*/
                        .index-contenedor-parrafo-escrito{                            
                            //font-size: 0.8em;  
                            @extend %estilos;
                            color: $color-parrafo-primaria; 
                        }
                }

                /*estilos al contenedor del boton -- simplemente se le determino el area del grid*/
                .index-contenedor-boton{
                    grid-area: boton;
                    //flex modificado
                    @include flex;

                        /*estilos al boton*/
                        button{
                            background-color: $color-principal-primario;
                            border: 5px solid $color-principal-secundario;
                            @include boton-animado;
                                &:hover{
                                    background-color: $color-principal-primario-hover;
                                    border: 5px solid $color-principal-secundario-hover;
                                    @include boton-animado-hover;
                                        a{
                                            color: $color-principal-primario;
                                                &:hover{
                                                    color: rgb(46, 46, 46);
                                                }
                                        }
                                }
                                    a{
                                        color: $color-principal-secundario;
                                    }
                        } 
                }

                /*estilos al contenedor de la imagen -- simplemente se le determino el area del grid*/
                .index-contenedor-imagen{                    
                    grid-area: imagen;
                    

                        /*estilos a la imagen*/
                        .index-contenedor-imagen-img{
                            /*por el tamaño de la pantalla celular ocultamos la imagen*/   
                            display: none;
                            @extend %imagen;
                        }
                }
        }
}

/*--------------------------------CIERRE - INDEX -----------------------------------*/


    
/*---------------------------CONTACTO---------------------------------*/


body main section{
    @include flex;

        .h2-contacto{
            color: $color-principal-primario;
            text-decoration: underline 3px solid $color-principal-primario;
            font-size: 2.5rem;           
        } 
       
}

body main .contacto-main{
    display: grid;
    grid-template-areas: 
    "titulo"
    "elementos"
    "descripcion"
    "boton";    
    justify-content: center;
    align-items: center;

        div .contenedor-titulo-h3c{
            grid-area: titulo;
            @include flex;
            @include titulo-h3;
            color: $color-principal-primario;            
            text-decoration: underline 3px solid $color-principal-primario;
        }

        .contacto-contenedor-elementos{    
            grid-area: elementos;
        
                .contacto-contenedor-elementos-formulario{
                    display: flex;
                    flex-direction: column;   
                    background-color: gray;
                    grid-template-areas: formulario;
                     
                    
                        div .contacto-contenedor-elementos-formulario-informacion-linea{
                            margin: 10px;
                            @include flex;
                            color: $color-principal-primario;
                        
                                label{
                                    display: inline-block;
                                    width: 100px;
                                
                                }                
                        
                        }
                    
                        .contacto-contenedor-elementos-formulario-texto{
                            @include flex;
                            grid-area: descripcion;
                        }
        
                        /*estilos sobre el contenedor del boton*/
        
                        .contacto-contenedor-elementos-formulario-boton{
                            @include flex;
                            grid-area: boton;
        
                                /*estilos del boton*/
        
                                .contacto-contenedor-elementos-formulario-boton-estilo{
                                    background-color: $color-principal-primario;
                                    border: 5px solid $color-principal-secundario;                                                                       
                                    @include boton-animado;
                                    
                                        &:hover{
                                            background-color: $color-principal-primario-hover;
                                            border: 5px solid $color-principal-secundario-hover;
                                            @include boton-animado-hover;
                                                a{
                                                    color: $color-principal-primario;
                                                        &:hover{
                                                            color: rgb(46, 46, 46);
                                                        }
                                                }                                
                                        }                            
                                 }        
                        }
                }
        }
}

/*--------------------------------CIERRE - CONTACTO -----------------------------------*/

/*--------------------------------INICIO - NOSOTROS -----------------------------------*/

body main section .nosotros-titulo{    
    @include flex;   
    @include titulo-secundario;

}

body main .nosotros-contenedor{
    display: block;
    @include flex;
    flex-direction: column;

        div .nosotros-contenedor-titutlo-h3{
            @include titulo-h3;
            @include flex;
            @extend %titulos;              
        }
}

.nosotros-contenedor-imagenes{
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,30%);
    gap: 2rem;
    margin: 3rem 2rem 3rem 1rem;
    position: relative;
    justify-content: center;
    align-items: center;

        
        .nosotros-contenedor-imagenes-uno{
            width: 100%;
            height: 100%;
            
            
            /* Para centrar la imagen dentro del contenedor */
            @include flex;
            perspective: 1000px;
            
                p{
                    @include flex;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            

                img{
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    @extend %imagen;
                }
                .nosotros-contenedor-imagenes-uno-texto{
                    color: $color-principal-primario;
                    @include texto;
                    @extend %estilos;                    
                }
        }
}

.nosotros-contenedor-imagenes-uno:hover .nosotros-contenedor-imagenes-uno-texto{
    opacity: 1;

}

/*---------------------------------CIERRE - NOSOTROS ------------------------------------*/




        

/*---------------------- P COMPROMISO - PHISING ------------------------------*/

main{
    
    //para que ocupe el 80% de lo disponible
    height: 80vh;
    //hace que el contenido principal ocupe todo el espacio disponible en el eje vertical
    flex: 1;
    //distancia entre los elementos
    padding: 1px;

        //estilos del titulo secundario
        section .general-main-titulo{
            @include titulo-secundario;
            @extend %titulos;      
                   
        }
    /*estilos al contenedor div contenedor*/
        .general-main-contenedor{                
            max-height: 90vh;    
            display: grid;
            grid-template-areas: 
            "titulo"
            "escritura"
            "boton";
            justify-content: center;
            align-items: center;            
            gap: 1%;
            margin: 1%;

                /*estilos al contenedor del titulo de la division*/
                .general-contenedor-titulo{
                    text-align: center;                    
                    grid-area: titulo;                    

                        /*estilos directos al titulo de la division*/
                        .general-contenedor-titutlo-h3{                                                            
                            @include titulo-h3;                            
                            @extend %titulos;
                            margin-bottom: 20px;      
                        }
                }

                /*estilos al contenedor del parrafo -- simplemente se le determino el area del grid*/
                .general-contenedor-parrafo{
                    grid-area: escritura; 
                    width: 100%;
                
                        /*estilos al parrafo*/
                        .general-contenedor-parrafo-escrito{                            
                            //font-size: 0.8em;  
                            @extend %estilos;
                            color: $color-parrafo-primaria; 
                        }
                }

                /*estilos al contenedor del boton -- simplemente se le determino el area del grid*/
                .general-contenedor-boton{
                    grid-area: boton;
                    //flex modificado
                    @include flex;

                        /*estilos al boton*/
                        button{
                            background-color: $color-alternativo-primario;
                            border: 5px solid $color-alternativo-secundario;
                            @include boton-animado;
                                &:hover{
                                    background-color: $color-alternativo-primario-hover;
                                    border: 5px solid $color-alternativo-secundario-hover;
                                    @include boton-animado-hover;
                                        a{
                                            color: $color-principal-primario;
                                                &:hover{
                                                    color: $color-principal-secundario;
                                                }
                                        }
                                }
                                    a{
                                        color: $color-principal-secundario;
                                    }
                        } 
                }

                /*estilos al contenedor de la imagen -- simplemente se le determino el area del grid*/
                .general-contenedor-imagen{                    
                    grid-area: imagen;

                        /*estilos a la imagen*/
                        .general-contenedor-imagen-img{
                            /*por el tamaño de la pantalla celular ocultamos la imagen*/   
                            display: none;
                            @extend %imagen;
                            
                        }
                }
        }
}


    
/*-----------------------CIERRE P COMPROMISO - PHISING-----------------------------------*/




//---------------------------- SKIMMING - SUSTRACCION ---------------------------




.gradient-container {
    height: 100vh; /* 100% del alto de la ventana */
    background: linear-gradient(to bottom, black, rgb(238, 237, 237));
}


.boton-A{
    width: 100%;
    height: 100%;
    

    /* Para centrar la imagen dentro del contenedor */
    @include flex;
    perspective: 1000px;
    
        .P-A{
            @include flex;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
       
        .nosotros-contenedor-imagenes-uno-texto{
            color: $color-principal-primario;
            @include texto;
            @extend %estilos;                    
        }
}



/*----------------------- CIERRE PHISING - IDENTIDAD -----------------------------------*/



/*---------------------------------  TABLET   ------------------------------------*/



//estilos al cambio de tamaño a tablet

@media screen and (min-width: 600px) {
    

        //-----------------------INDEX-------------------------
        //titulo secundario
        body main{
            height: 80vh;
        
                section .index-main-titulo{
                    @include titulo-secundario;
                    @include flex;
                }
                
                .index-main-contenedor{
                    display: grid;
                    grid-template-areas: 
                    "titulo     titulo"
                    "escritura  imagen"            
                    "boton      imagen";
                    justify-content: center;
                    align-items: center;           
                
                        .index-contenedor-titulo{                            
                            grid-area: titulo;                                                
                        }
                
                        .index-contenedor-parrafo{
                            grid-area: escritura;
                            width: 100%;
                        
                                .index-contenedor-parrafo-escrito{                        
                                    margin-left: 50px;                                    
                                }
                        }
                
                        .index-contenedor-boton{
                            grid-area: boton;                                
                        }
                
                        .index-contenedor-imagen{            
                            grid-area: imagen;
                            display: block;
                            @include flex;

                                .index-contenedor-imagen-img{
                                    display: block;
                                    max-width: 70%;
                                    height: auto;
                                    
                                }
                        }
                }
        }    

        //-----------------------CONTACTO-------------------------


        
        body main section .h2-contacto{
                    font-size: 4rem; 
        }

        body main div .contacto-contenedor-elementos{
            margin-top: 50px;
        }

        //-------------------------NOSOTROS------------------------

        .nosotros-contenedor-imagenes{
            display: grid;        
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: repeat( 3, 30%);
    
               .nosotros-contenedor-imagenes-uno{
                grid-column: span 2;
               }
        }

            //----------------------- P COMPROMISO - PHISING -------------------------
    //titulo secundario
    body main{
        height: 80vh;
    
            section .general-main-titulo{
                @include titulo-secundario;
                @include flex;   
            }
            
            .general-main-contenedor{
                display: grid;
                grid-template-areas: 
                "titulo     titulo"
                "imagen     escritura"            
                "imagen     boton";
                justify-content: center;
                align-items: center;           
            
                    .general-contenedor-titulo{                        
                        grid-area: titulo;    
                    }           
            
                    .general-contenedor-parrafo{
                        grid-area: escritura;
                        width: 100%;
                    
                            .general-contenedor-parrafo-escrito{                        
                                //font-size: 1em;
                                margin-right: 50px;                                    
                            }
                    }
            
                    .general-contenedor-boton{
                        grid-area: boton;
                    }
            
                    .general-contenedor-imagen{            
                        grid-area: imagen;
                        display: block;
                        @include flex;
                            .general-contenedor-imagen-img{
                                display: block;
                                max-width: 80%;
                                height: auto;
                                
                            }
                    }
            }
    }  
}



        
/*--------------------------------- PC ------------------------------------*/




@media screen and (min-width: 1000px) {   
    

        //-----------------------INDEX-------------------------

        //titulo secundario
        body main section .index-main-titulo{
            display: none;
        }

        div .index-contenedor-titulo{
            margin-top: 0px;
            grid-area: titulo;

                .index-contenedor-titutlo-h3{
                    margin-top: 0px;                                           
                }
        }

        //-----------------------CONTACTO-------------------------
        
        body main section{
            @include flex;
        }

        .h2-contacto{
                display: none; 
            }

        .nosotros-contenedor-imagenes{
        display: grid;        
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat( 3, 30%);

           .nosotros-contenedor-imagenes-uno{
            grid-column: span 2;
           }
        }
        //----------------------NOSOTROS---------------------------

        .nosotros-contenedor-imagenes{
            height: 70vh;
            display: grid;
            grid-template-columns: repeat(3,30%);
            grid-template-rows: 1fr;
            gap: 2rem;
            margin: 3rem 2rem 3rem 1rem;
    
                .nosotros-contenedor-imagenes-uno{
                    grid-column: auto;
                }
        }

            //----------------------- P COMPROMISO - PHISING -------------------------

        //titulo secundario
        body main section .general-main-titulo{
            display: none;
        }

        div .general-contenedor-titulo{
            margin-top: 0px;
            grid-area: titulo;

                .general-contenedor-titutlo-h3{
                    margin-top: 0px;
                    margin-bottom: 40px;
                    font-size: 4em;                        
                }
        }
    }



    
       


        